.tippy-tooltip[data-animation=fade][data-state=hidden]{opacity:0}.tippy-iOS{cursor:pointer!important;-webkit-tap-highlight-color:transparent}.tippy-popper{pointer-events:none;max-width:calc(100vw - 10px);transition-timing-function:cubic-bezier(.165,.84,.44,1);transition-property:transform}.tippy-tooltip{position:relative;color:#fff;border-radius:4px;font-size:14px;line-height:1.4;background-color:#333;transition-property:visibility,opacity,transform;outline:0}.tippy-tooltip[data-placement^=top]>.tippy-arrow{border-width:8px 8px 0;border-top-color:#333;margin:0 3px;transform-origin:50% 0;bottom:-7px}.tippy-tooltip[data-placement^=bottom]>.tippy-arrow{border-width:0 8px 8px;border-bottom-color:#333;margin:0 3px;transform-origin:50% 7px;top:-7px}.tippy-tooltip[data-placement^=left]>.tippy-arrow{border-width:8px 0 8px 8px;border-left-color:#333;margin:3px 0;transform-origin:0 50%;right:-7px}.tippy-tooltip[data-placement^=right]>.tippy-arrow{border-width:8px 8px 8px 0;border-right-color:#333;margin:3px 0;transform-origin:7px 50%;left:-7px}.tippy-tooltip[data-interactive][data-state=visible]{pointer-events:auto}.tippy-tooltip[data-inertia][data-state=visible]{transition-timing-function:cubic-bezier(.54,1.5,.38,1.11)}.tippy-arrow{position:absolute;border-color:transparent;border-style:solid}.tippy-content{padding:5px 9px}

:root {
    --dynforms-default-height: 32px;
    --dynforms-default-border-color: #d9d9d9;
    --dynforms-default-border-color-focus: #40a9ff;
    --dynforms-default-border: 1px solid var(--dynforms-default-border-color);
    --dynforms-default-focus-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    --dynforms-default-radius: 4px;
    --dynforms-default-padding: 4px 11px;
    --dynforms-default-color: rgba(0, 0, 0, 0.65);
    --dynforms-default-margin-bottom: 10px;
}

.dynforms__label {
    width: 100%;
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

.dynforms__label label{
    width: auto;
    margin: 0 7px 0 0;
    font-weight: bold;
    font-size: 1em;
    color: var(--dynforms-default-color);
}

.dynforms__label .dynforms__tooltip {
    width: 0.8em;
    height: 0.8em;
    background-color: var(--dynforms-default-color);
    mask: url('./img/question.svg');
    -webkit-mask: url('./img/question.svg');
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    cursor: pointer;
}

.dynforms__input, .dynforms__textarea {
    width: 100%;
    height: var(--dynforms-default-height);
    border: var(--dynforms-default-border);
    border-radius: var(--dynforms-default-radius);
    font-size: 1em;
    background: white;
    color: var(--dynforms-default-color);
    padding: var(--dynforms-default-padding);
    margin-bottom: var(--dynforms-default-margin-bottom);
}

.dynforms__input:focus, .dynforms__textarea:focus {
    border-color: var(--dynforms-default-border-color-focus);
    outline: 0;
    box-shadow: var(--dynforms-default-focus-shadow);
}

.dynforms__textarea {
    min-height: 100px;
    resize: none;
}

.dynforms__textarea[resize="both"]{
    resize: both;
}

.dynforms__textarea[resize="horizontal"]{
    resize: horizontal;
}

.dynforms__textarea[resize="vertical"]{
    resize: vertical;
}

.dynforms__select {
    width: 100%;
    min-height: var(--dynforms-default-height);
    border: var(--dynforms-default-border);
    border-radius: var(--dynforms-default-radius);
    font-size: 1em;
    background: white;
    color: var(--dynforms-default-color);
    padding: var(--dynforms-default-padding);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: var(--dynforms-default-margin-bottom);
}

.dynforms__select:focus, .dynforms__select.dynforms__focused{
    border-color: var(--dynforms-default-border-color-focus);
    outline: 0;
    box-shadow: var(--dynforms-default-focus-shadow);
}

.dynforms__select-value-container{
    width: 100%;
    display: flex;
}

.dynforms__select-value{
    width: 90%;
    cursor: pointer;
}

.dynforms__select[filterable] .dynforms__select-value{
    cursor: text;
    display: flex;
    flex-direction: column;
}

.dynforms__select-value input, .dynforms__select-value input:hover{
    pointer-events: none;
    width: 100%;
    height: 100%;
    border: none;
    outline: 0;
    color: inherit;
    font-size: 1em;
    cursor: pointer;
}

.dynforms__select[filterable] .dynforms__select-value input,
.dynforms__select[filterable] .dynforms__select-value input:hover{
    pointer-events: auto;
    cursor: text;
}

.dynforms__select-value input::placeholder{
    color: var(--dynforms-default-border-color);
}

.dynforms__select-selections:not(:empty) ~ input {
    display: none;
}

.dynforms__select[filterable] .dynforms__select-selections:not(:empty) ~ input {
    display: block;
}

.dynforms__select[filterable] .dynforms__select-selections:not(:empty) ~ input::placeholder{
    opacity: 0;
}

.dynforms__select ul.dynforms__select-selections {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.dynforms__select ul.dynforms__select-selections li{
    display: flex;
    margin-right: 5px;
    background: #fafafa;
    border: 1px solid #e8e8e8;
    padding: 0 10px;
    border-radius: var(--dynforms-default-radius);
    cursor: default;
    transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin: 2px 5px;
}

.dynforms__select-container-value{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dynforms__select-container-value label{
    font-size: 1em;
    font-weight: normal;
    color: var(--dynforms-default-color);
    margin: 0;
    padding: 0;
}

.dynforms__select-container-value .dynforms__select-remove-value{
    width: 0.8em;
    height: 0.8em;
    background: url('./img/delete.svg') no-repeat center center / contain;
    cursor: pointer;
    opacity: 0.4;
    margin-left: 3px;
}

.dynforms__select-arrow{
    width: 10%;
}

.dynforms__select-arrow:after{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: url('./img/arrow.svg') no-repeat center center / 0.92em;
    transition: all .3s ease;
}

.dynforms__select:focus .dynforms__select-arrow:after,
.dynforms__select.dynforms__focused .dynforms__select-arrow:after{
    transform: rotate(180deg);
}

.dynforms__select-container{
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    right: 0;
    width: 100%;
    border-radius: var(--dynforms-default-radius);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background: white;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: all .4s ease;
    z-index: 1;
}

.dynforms__select:focus .dynforms__select-container,
.dynforms__select.dynforms__focused .dynforms__select-container{
    height: auto;
    opacity: 1;
}

.dynforms__select-container ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 250px;
    overflow: auto;
    overflow-x: hidden;
}

.dynforms__select-container ul li{
    width: 100%;
    padding: 7px 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.dynforms__select[filterable] .dynforms__select-container ul li.dynforms__hidden{
    display: none;
}

.dynforms__select-container ul li.dynforms__selected{
    background: #fafafa;
    font-weight: 600;
    color: var(--dynforms-default-color);
}

.dynforms__select-container ul li:hover{
    background: #e6f7ff;
}

.option-label{
    width: 90%;
    height: 100%;
    font-size: 1em;
}

.dynforms__selected-icon{
    width: 10%;
    height: 0.92em;
}

.dynforms__select-container ul li.dynforms__selected .dynforms__selected-icon:after{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: url('./img/check.svg') no-repeat center center / 0.92em;
}

.dynforms__radio-group, .dynforms__checkbox-group {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.dynforms__radio-option, .dynforms__checkbox-option {
    margin: 0 0 15px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: auto;
}

.dynforms__radio-group .dynforms__radio-option .dynforms__radio-selector,
.dynforms__checkbox-group .dynforms__checkbox-option .dynforms__checkbox-selector{
    width: 1.1em;
    height: 1.1em;
    border-radius: 100%;
    background: white;
    border: var(--dynforms-default-border);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
    margin-right: 7px;
    cursor: pointer;
}

.dynforms__radio-option.dynforms__checked .dynforms__radio-selector,
.dynforms__checkbox-option.dynforms__checked .dynforms__checkbox-selector{
    border-color: #1890ff;
}

.dynforms__checkbox-option.dynforms__checked .dynforms__checkbox-selector{
    background: #1890ff;
}

.dynforms__radio-group .dynforms__radio-option .dynforms__radio-selector::after{
    content: '';
    width: 50%;
    height: 50%;
    background: #1890ff;
    opacity: 0;
    transition: all .5s ease;
    border-radius: 100%;
}

.dynforms__radio-option.dynforms__checked .dynforms__radio-selector::after{
    opacity: 1;
    transition: all .5s ease;
}

.dynforms__radio-group .dynforms__radio-option label,
.dynforms__checkbox-group .dynforms__checkbox-option label{
    font-size: 1em;
    font-weight: normal;
    color: var(--dynforms-default-color);
    cursor: pointer;
}

.dynforms__radio-option.dynforms__checked label,
.dynforms__checkbox-option.dynforms__checked label{
    font-weight: bold;
}

.dynforms__checkbox-group .dynforms__checkbox-option .dynforms__checkbox-selector::after{
    content: '';
    display: block;
    width: 75%;
    height: 75%;
    background: white;
    mask: url('./img/check.svg');
    -webkit-mask: url('./img/check.svg');
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    transition: all .5s ease;
    transform: scale(0);
}

.dynforms__checkbox-option.dynforms__checked .dynforms__checkbox-selector::after{
    transform: scale(1);
    transition: all .5s ease;
}

.dynforms__rate-group{
    width: 100%;
    height: 1.5em;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    margin-bottom: 10px;
}

.dynforms__rate-group li{
    width: 1.5em;
    height: 100%;
    background-color: #e8e8e8;
    margin-right: 5px;
    mask-size: contain !important;
    -webkit-mask-size: contain !important;
    mask-repeat: no-repeat !important;
    -webkit-mask-repeat: no-repeat !important;
}

.dynforms__rate-group li.dynforms__star{
    mask: url('./img/star.svg');
    -webkit-mask: url('./img/star.svg');
}

.dynforms__rate-group li.dynforms__heart{
    mask: url('./img/heart.svg');
    -webkit-mask: url('./img/heart.svg');
}

.dynforms__rate-group > .dynforms__star:hover, .dynforms__rate-group > .dynforms__star:hover ~ .dynforms__star, .dynforms__rate-group > .dynforms__star.dynforms__selected ~ .dynforms__star, .dynforms__star.dynforms__selected{
    background-color: #fadb14;
}

.dynforms__rate-group > .dynforms__heart:hover, .dynforms__rate-group > .dynforms__heart:hover ~ .dynforms__heart, .dynforms__rate-group > .dynforms__heart.dynforms__selected ~ .dynforms__heart, .dynforms__heart.dynforms__selected{
    background-color: #f93c3c;
}
